
.projectsMainContainer{
    margin: 4rem 0;
}

.titleAndContactBtnContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;

    & button{
        padding: max-content;
        letter-spacing: 2px;
        font-size: 1rem;
        font-weight: bold;
        text-transform: uppercase;
        border: none;
        background: transparent;
        cursor: pointer;

        &::after{
            content: '';
            margin-top: .6em;
            position: absolute;
            width: 110px;
            height: 3px; 
            background-color: #4EE1A0;
            display: block;
    }
}
}

.projectsContainer {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;

    & a{
        text-decoration: none;

        &:hover {
            color: #4EE1A0;
        }
    }
}

.projectContainer {
    width: 100%;
    max-width: 350px;
    
    & img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        display: block;
    }

    & h3{
        margin-top: .6rem;
    }
}

.projectBtnsContainer{
    display: flex;
    justify-content: space-between;

    & button{
        margin-top: 1.6rem;
        padding: max-content;
        letter-spacing: 2px;
        font-size: 1rem;
        font-weight: bold;
        border: none;
        background: transparent;
        cursor: pointer;

        &::after{
            content: '';
            margin-top: .6em;
            position: absolute;
            width: 110px;
            height: 3px; 
            background-color: #4EE1A0;
            display: block;
        }

    }
}

@media screen and (min-width: 768px){
    .projectsContainer{
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }
    .projectContainer {
        width: 100%;
        max-width: 450px;
        
        & img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            display: block;
        }
    
        & h3{
            margin-top: .6rem;
        }
    }
}

@media screen and (min-width: 1440px){
    .projectsContainer{
        flex-direction: row;
        justify-content: space-between;
    }

    .projectContainer{
        max-width: 550px;
    }
}